* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.navbar {
    
    padding:0px 150px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgb(220, 206, 206), rgb(233, 200, 233))
}
.logo {
    margin-left: 100px;
    width: 200px;
    height: 150px;
    background: url(/img/logo-white-removebg-preview.png) no-repeat center;
    background-size: cover;
    background-position-y:-25px;
    filter: grayscale(90%) invert(100%);
}
.links {
    
    font-weight: 600;
    font-size: 22px;
    display: flex;
    gap: 20px;
}
a:hover {
    color: rgb(95, 14, 176);
    padding: 20px;
    background-color: rgb(128, 128, 250);
    
}
a {
    color: black;
    text-decoration: none;
}

/* header */

/* landing-page */
.landing-page {
    background: url("/img/aliane-schwartzhaupt-QdmUva6qBTk-unsplash.jpg") no-repeat;
    background-size:100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    filter:grayscale(30%) invert(5%);  
}
.landing-page h2 {
    color: rgb(255, 186, 76);
    font-size: 40px;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}
.landing-page h1 {
    font-size: 80px;
}
.logo-img {
    opacity: 0.9;
    
}
.logo-partners {
    

}
/* landing-page */

/* about us */
.about-us {
    height: 100vh;
    background: linear-gradient(rgb(220, 206, 206), rgb(233, 200, 233))
    display: flex;
}
/* about us */